@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #000000 0%, #1a0000 25%, #000000 50%, #1a0000 75%, #000000 100%);
    background-size: 400% 400%;
    animation: hellBackground 15s ease infinite;
    font-family: 'Times New Roman', serif;
}

@keyframes hellBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.box {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.700);
    padding: 1vw;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
